name: Django CI/CD with Docker

on:
  push:
    branches:
      - master  # Trigger on push to main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build Docker image
      run: |
        docker build . -t mhd0012/testdocker

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERUSERNAME }}
        password: ${{ secrets.DOCKERTOKEN }}

    - name: Push Docker image to Docker Hub
      run: |
        docker push mhd0012/testdocker
